<form [formGroup]="addressForm">
  <mat-card  class="border-1">
    <!-- <mat-card-header>
      <mat-card-title>Address Details</mat-card-title>
    </mat-card-header> -->
    <mat-card-content>
      <div class="example-container">
        <div class="example-form-fields">
          <mat-form-field appearance="fill">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street" formControlName="street" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Locality</mat-label>
            <input matInput placeholder="Locality" formControlName="locality" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <input matInput placeholder="State" formControlName="state" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country" formControlName="country" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Pin code</mat-label>
            <input matInput placeholder="Pin code" formControlName="pincode" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
